<header class="header">
  <nav>
    <div class="logo-container">
      <a routerLink="/">
        <img
          [src]="!themeStore.isDarkMode() ? '/public/logo.png' : '/public/logo-white.png'"
          alt="Logo"
          class="logo"
          width="100"
          height="40"
        />
      </a>
    </div>
    <button class="nav-toggle" (click)="isNavOpen.set(!isNavOpen())" aria-label="Toggle navigation">
      <span> @if(isNavOpen()) { &times; } @else { &#9776; } </span>
    </button>
    <div class="nav-links" [class.open]="isNavOpen()">
      <ul>
        @for (navItem of navItems; track navItem.label) {
        <li>
          @if (navItem.isExternal) {
            <a
              [href]="navItem.link"
              target="_blank"
              rel="noopener noreferrer"
              (click)="isNavOpen.set(false)"
              >{{ navItem.label }}</a
            >
            <app-icon url="/public/svgs/externallink-icon.svg"></app-icon>
          } @else {
            <a
            [routerLink]="navItem.page"
            [routerLinkActiveOptions]="{ exact: true }"
            [href]="navItem.link"
            routerLinkActive="active"
            (click)="isNavOpen.set(false)"
          >
            {{ navItem.label }}
          </a>
          }
        </li>
        }
      </ul>
    </div>
    <button class="theme-toggle" (click)="toggleTheme()" aria-label="Toggle dark mode">
      @if(themeStore.isDarkMode()){
      <span>🌙</span>
      } @else{
      <span>☀️</span>
      }
    </button>
  </nav>
</header>
